USE [cinema_sessions]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinemas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[building_address] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NULL,
	[ticket_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](60) NULL,
	[short_description] [varchar](500) NULL,
	[poster_url] [varchar](100) NULL,
	[is_premiere_week] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[movie_session_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
	[session_date] [date] NOT NULL,
	[movie_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cinemas] ON 

INSERT [dbo].[cinemas] ([id], [title], [building_address]) VALUES (2, N'Planeta Kino', N'Sokilnyky, st. Stryjska, 30, King Cross Leopolis')
INSERT [dbo].[cinemas] ([id], [title], [building_address]) VALUES (3, N'Planeta Kino', N'Kyiv, 34B Stepana Bandera Avenue')
INSERT [dbo].[cinemas] ([id], [title], [building_address]) VALUES (4, N'Planeta Kino', N'Lviv, "Forum Lviv" shopping mall')
SET IDENTITY_INSERT [dbo].[cinemas] OFF
GO
SET IDENTITY_INSERT [dbo].[movie_sessions] ON 

INSERT [dbo].[movie_sessions] ([id], [cinema_id], [ticket_id]) VALUES (1, 2, 5)
INSERT [dbo].[movie_sessions] ([id], [cinema_id], [ticket_id]) VALUES (2, 2, 6)
INSERT [dbo].[movie_sessions] ([id], [cinema_id], [ticket_id]) VALUES (3, 2, 8)
SET IDENTITY_INSERT [dbo].[movie_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

INSERT [dbo].[movies] ([id], [title], [short_description], [poster_url], [is_premiere_week]) VALUES (1, N'Free guy', N'Bank teller discovers he is actually a background player in an open-world video game', N'https://www.denofgeek.com/wp-content/uploads/2021/08/Free-Guy.jpg?fit=1800%2C1012', 0)
INSERT [dbo].[movies] ([id], [title], [short_description], [poster_url], [is_premiere_week]) VALUES (3, N'The Suicide Squad', N'The government sends the most dangerous supervillains in the world to the remote island', N'https://entertainmentnerd.com/wp-content/uploads/2021/10/the-suicide-squad-cast-1269522-1280x0-1.jpg', 0)
INSERT [dbo].[movies] ([id], [title], [short_description], [poster_url], [is_premiere_week]) VALUES (4, N'Shang-Chi and the Legend of the Ten Rings', N'Martial-arts master confronts the past when he is drawn into Ten Rings organization', N'https://nerdist.com/wp-content/uploads/2021/04/Simu-liu-shang-chi.jpeg', 1)
SET IDENTITY_INSERT [dbo].[movies] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [movie_session_id]) VALUES (1, 1, 3)
INSERT [dbo].[orders] ([id], [user_id], [movie_session_id]) VALUES (2, 2, 2)
INSERT [dbo].[orders] ([id], [user_id], [movie_session_id]) VALUES (3, 3, 4)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([id], [price], [session_date], [movie_id]) VALUES (5, 2.99, CAST(N'2021-09-10' AS Date), 1)
INSERT [dbo].[tickets] ([id], [price], [session_date], [movie_id]) VALUES (6, 2.99, CAST(N'2021-09-10' AS Date), 1)
INSERT [dbo].[tickets] ([id], [price], [session_date], [movie_id]) VALUES (7, 3.99, CAST(N'2021-09-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email]) VALUES (1, N'peterparker@gmail.com')
INSERT [dbo].[users] ([id], [email]) VALUES (2, N'iamgroot@gmail.com')
INSERT [dbo].[users] ([id], [email]) VALUES (3, N'brucewayne@gmail.com')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[movie_sessions]  WITH CHECK ADD  CONSTRAINT [fk_cinema_id] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[movie_sessions] CHECK CONSTRAINT [fk_cinema_id]
GO
ALTER TABLE [dbo].[movie_sessions]  WITH CHECK ADD  CONSTRAINT [fk_ticket_id] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[tickets] ([id])
GO
ALTER TABLE [dbo].[movie_sessions] CHECK CONSTRAINT [fk_ticket_id]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_movie_session_id] FOREIGN KEY([movie_session_id])
REFERENCES [dbo].[movie_sessions] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_movie_session_id]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_user_id]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [fk_movie_id] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [fk_movie_id]
GO
